<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="logo pull-left">
          <a href="/"><img src="images/home/logo.png" alt="" /></a>
        </div>
        <div class="btn-group pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
              <%= __('language')%>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/change-lang/en">English</a></li>
              <li><a href="/change-lang/vi">Việt Nam</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="shop-menu pull-right">
          <ul class="nav navbar-nav">
            <% if (user == null) { %>
            <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
            <% } else { %>
            <li><a href="#"><i class="fa fa-user"></i><%= __('welcome')%>, <%=user.hoten%></a></li>
            <% } %>
            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
            <% if (user == null) { %>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management</a>
              <ul class="dropdown-menu">
                <li><a href="login"><%= __('signIn')%></a></li>
                <li><a href="signup"><%= __('signUp')%></a></li>
              </ul>
            </li>
            <% } else { %>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management</a>
                <ul class="dropdown-menu">
                  <li><a href="/profile"><%= __('userAccount')%></a></li>
                  <li><a href="/history"><%= __('historyPurchase')%></a></li>
                  <li><a href="logout"><%= __('signOut')%></a></li>
                </ul>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
