<div class="features_items">
  <!--features_items-->
  <h2 class="title text-center">Danh sách</h2>
  <% if (product.length != 0) {%>
  <% for (var i=0 ; i< product.length ; i ++)  { %>
  <div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <%if (product[i].link) {%>
          <img src="img/<%=product[i].link%>" id="<%= product[i].ID%>" alt="" />
          <%} else {%>
          <img src="img/noimage.jpg" id="img04" alt="" />
          <h2 id="productPrice4">
            <%= product[i].price %> đ</h2>
          <p id="productName4">
            <%= product[i].name %>
          </p>
          <a href="chitietsanpham?ID=<%= product[i].ID%>" id="link04" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add
            to cart</a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2 id="productPrice4">
              <%= product[i].price %> đ</h2>
            <p id="productName4">
              <%= product[i].name %>
            </p>
            <a href="chitietsanpham?ID=<%= product[i].ID%>" id="link04" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add
              to cart</a>
          </div>
        </div>
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
          <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
        </ul>
      </div>
    </div>
  </div>
  <% } %>
  <%} else {%>
  <center>
    <h3>
      <%= __('No Items Found')%>
    </h3>
  </center>
  <%}%>

</div>
<!--features_items-->